# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/charts/jenkins/ lachie83 viglesiasce maorfr torstenwalter mogaal wmcdona89 timja

