apiVersion: v2
name: jenkins
home: https://jenkins.io/
version: 4.3.23
appVersion: 2.387.3
description: Jenkins - Build great things at any scale! The leading open source automation server, Jenkins provides hundreds of plugins to support building, deploying and automating any project.
sources:
  - https://github.com/jenkinsci/jenkins
  - https://github.com/jenkinsci/docker-inbound-agent
  - https://github.com/maorfr/kube-tasks
  - https://github.com/jenkinsci/configuration-as-code-plugin
maintainers:
  - name: maorfr
    email: maor.friedman@redhat.com
  - name: torstenwalter
    email: mail@torstenwalter.de
  - name: mogaal
    email: garridomota@gmail.com
  - name: wmcdona89
    email: wmcdona89@gmail.com
  - name: timja
    email: timjacomb1@gmail.com
icon: https://get.jenkins.io/art/jenkins-logo/logo.svg
keywords:
  - jenkins
  - ci
  - devops
annotations:
  artifacthub.io/links: |
    - name: Chart Source
      url: https://github.com/jenkinsci/helm-charts/tree/main/charts/jenkins
    - name: Jenkins
      url: https://www.jenkins.io/
    - name: support
      url: https://github.com/jenkinsci/helm-charts/issues
  artifacthub.io/images: |
    - name: jenkins
      image: jenkins/jenkins:2.387.3-jdk11
    - name: k8s-sidecar
      image: kiwigrid/k8s-sidecar:1.23.1
    - name: inbound-agent
      image: jenkins/inbound-agent:3107.v665000b_51092-5
    - name: backup
      image: maorfr/kube-tasks:0.2.0
  artifacthub.io/category: "integration-delivery"
  artifacthub.io/license: "Apache-2.0"
