name: Lint Code Base

on: pull_request

permissions: {}

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    permissions:
      # contents permission to clone the repository
      contents: read
      packages: read
      # To issues and pull-requests permissions to write results as pull
      # request comments. Omit them if you don't need summary comments
      issues: write
      pull-requests: write
      # To report GitHub Actions status checks. Omit if you don't need
      # to update commit status
      statuses: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Lint Code Base
        uses: super-linter/super-linter/slim@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8.3.2
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_CHECKOV: false
          VALIDATE_GITLEAKS: false
          VALIDATE_JSCPD: false
          VALIDATE_JSONC: false
          VALIDATE_KUBERNETES_KUBECONFORM: false
          VALIDATE_TRIVY: false
          VALIDATE_YAML: false
          VALIDATE_YAML_PRETTIER: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # copied from https://github.com/renovatebot/helm-charts
  lint-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install and run helm-docs
        run: |-
          # renovate: datasource=github-releases depName=norwoodj/helm-docs
          HELM_DOCS_VERSION=1.14.2

          # install helm-docs
          curl -fsSL -o /tmp/helm-docs.tar.gz https://github.com/norwoodj/helm-docs/releases/download/v"${HELM_DOCS_VERSION}"/helm-docs_"${HELM_DOCS_VERSION}"_Linux_x86_64.tar.gz
          mkdir -p /tmp/helm-docs && tar -xf /tmp/helm-docs.tar.gz -C /tmp/helm-docs
          mv /tmp/helm-docs/helm-docs /usr/local/bin/helm-docs
          chmod a+x /usr/local/bin/helm-docs

          .github/helm-docs.sh
      - name: Check dirty state
        run: git diff --exit-code
