---
name: Lint and Test Charts

on: pull_request

permissions:
  contents: read

jobs:
  lint-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        kubernetes_version:
          # See https://kubernetes.io/releases/ for EOL dates
          - "kindest/node:v1.32.3"
          - "kindest/node:v1.31.6"
          - "kindest/node:v1.30.10"
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          # renovate: datasource=github-tags depName=helm/helm
          version: v3.18.1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          # renovate: datasource=custom.python_actions depName=python
          python-version: 3.13.2

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2
        with:
          # renovate: datasource=github-tags depName=helm/chart-testing
          version: v3.13.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml)
          if [ -n "${changed}" ]; then
            echo "changed=true" >> "${GITHUB_OUTPUT}"
          fi

      - name: install helm unittests
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          helm env
          # renovate: datasource=github-tags depName=helm-unittest/helm-unittest
          helm plugin install https://github.com/helm-unittest/helm-unittest --version v0.3.6

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.12.0
        if: steps.list-changed.outputs.changed == 'true'
        with:
          node_image: ${{ matrix.kubernetes_version }}

      - name: Run chart-testing (install)
        run: ct install --config ct.yaml
