name: Renovate
on:
  schedule:
    - cron: "0 * * * *"
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        name: Get token
        id: get_token
        with:
          app-id: ${{ secrets.JENKINS_DEPENDENCY_UPDATER_APP_ID }}
          private-key: ${{ secrets.JENKINS_DEPENDENCY_UPDATER_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@98c8f1b0835e163b9fdfc7c86dff40dadc7162ee # v45.0.3
        with:
          token: "${{ steps.get_token.outputs.token }}"
          docker-cmd-file: .github/renovate-entrypoint.sh
          docker-user: root
          configurationFile: .github/renovate-config.json5
        env:
          LOG_LEVEL: 'debug'
