on:
  push:
    branches:
      - 'main'
    paths:
      - 'README.md'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          cp -f README.md ${{ runner.temp }}/README.md
      - uses: actions/checkout@v6
        with:
          ref: gh-pages
          persist-credentials: true
      - run: |
          cp -f ${{ runner.temp }}/README.md .
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add README.md
          git commit --signoff -m "Sync README from main"
          git push
